.hdr {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(0,100,177);
    color: white;
}

#head{
    text-align: center;
    color: rgb(245,128,38)
}

#lo{
    position:absolute;
    top:10px;
    left:10px
}

body {
    color: #000;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat
}

.card0 {
    box-shadow: 0px 4px 8px 0px ;
    border-radius: 0px
}


.image {
    width: 360px;
    height: 280px
}


.line {
    background-color: white;
    margin-top: 10px;
    height: 1px;
    width: 50%;
}


::placeholder {
    color: gray;
    opacity: 1;
    font-weight: 300
}



input,
textarea {
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    padding: 10px 12px 10px 12px;
    border: 1px solid ;
    border-radius: 2px;
    margin-bottom: 5px;
    letter-spacing: 2px
}

input:focus,
textarea:focus {
    border: 1px solid;
}

.image {
    width: 1px;
    height: 1px
}

.border-line {
    border-right: none
}



.btn-blue {
    background-color: blue;
    width: 150px;
    color: white;
    border-radius: 2px
}


.bg-blue {
    color: white;
    background-color: blue;
}




