body {
    --mavcolor:rgb(0,100,177);
    overflow: hidden;
}

.app__body {
    display: flex;
    height: 100vh;
}

.message__form {


    position: fixed !important;
    bottom: 0;
    margin-left: 200px !important;
    margin-top: 0px;
    left: 0;
    right: 1em;
    /*z-index: 200;*/
}
.emoijpicker {
    position: absolute;
}